<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Expérience professionnel</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Septembre 2019 - Septembre 2021</p>
            <div class="h5">SICAL</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Développeur Web, VB.NET</div>
            <p>Reprise en main de l'application "STYRAX" qui permet le suivi de production du département plastique de l'entreprise sous VB.NET
              ainsi que de la partie WEB. Développement d'une solution d'export/import de données de la CRM Hubspot en python.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Mars 2019 - Juin 2019</p>
            <div class="h5">ACIC S.A</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Pentester</div>
            <p>Réalisation de test d'intrusion au sein du réseau de l'entreprise et résolution des failles.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Avril 2018 - Juin 2018</p>
            <div class="h5">entre Hospitalier de Sambre-Avesnois</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Développeur Mobile</div>
            <p>Développement d'une application Android de sensibilisation à la mise en place du RGPD.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
