<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">À propos</div>
            <p>
              Bonjour ! <br> <br>
              Je m'appelle Nathan Sens, je suis actuellement en dernière année de master à l'université catholique de
              Lille. Je suis développeur full stack, je m'intéresse beaucoup également à la mise en place d'architecture cloud (AWS).
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Information de base :</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date de naissance :</strong>
              </div>
              <div class="col-sm-8">14 Mars, 1998</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">nathan.senspro@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Téléphone:</strong>
              </div>
              <div class="col-sm-8">06 03 38 13 00</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Adresse:</strong>
              </div>
              <div class="col-sm-8">
                23 rue François Ringot, Saint-Omer, 62500 <br>
                96 rue Guynemer, Ferrière-la-Grande, 59680
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Langue:</strong>
              </div>
              <div class="col-sm-8">Anglais</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
